// best
.best {
  &__title {
    text-align: center;
    margin-bottom: 4rem;
  }
  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  &__item {
    flex: 0 1 300px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &__item-information {
  }
  &__item-image {
    flex: 0 0 6rem;
    height: 6rem;
  }
  &__item-label {
    margin-bottom: 3px;
  }
  &__item-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
}