// 
.email-button-form {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  @media (max-width: 480px) {
    display: grid;
  }
  input {
    flex: 1 1 auto;
    font: var(--font-5);
    height: 56px;
    padding: 16px;
    border-radius: 4px;
    outline: 2px solid transparent;
    transition: outline var(--transition-1);
    &::placeholder {
      transition: color var(--transition-1), transform var(--transition-1);
    }
    &:focus {
      outline: 2px solid var(--color-22);
      &::placeholder {
        color: var(--color-22);
        transform: translateY(-70%);
      }
    }
  }
  button {
    font: var(--font-2);
    background-color: #000;
    color: #fff;
    height: 56px;
    padding: 16px;
    border-radius: 4px;
    transition: background-color var(--transition-1);
    @media (any-hover: hover) {
    &:hover {
    background-color: var(--color-22);
    }
    }
  }
}