// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================

// list row image text

.list-row-image-text {
  // display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(385px, 1fr));
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  @media (max-width: 1200px) {
    gap: 20px
  }

  &__item {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    gap: 16px;
    border-radius: 10px;
    padding: 1.6rem;
    box-shadow: 0px 4px 16px 0px #1122110D;
    // border: 2px solid red;
    @media (max-width: 1200px) {
      flex-direction: column;
      text-align: center;
    }

  }
  &__item-image,
  &__item-information {
    position: sticky;
    left: 0;
  }
  &__item-image {
    flex: 0 0 90px;
    height: 90px;
    border-radius: 8px;
  }
  &__item-information {
    display: flex;
    flex-direction: column;
    gap: 8px;
    ul {
      display: flex;
      gap: 20px;
    }
    li {
      &:not(:last-child) {
        position: relative;
        &:after {
        position: absolute;
        content: '';
        right: -12px;
        top: 50%;
        transform: translateY(-50%);
        width: 3px;
        height: 3px;
        background-color: var(--color-4);
        border-radius: 50px;
        }
      }
    }
  }
}
