// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================

// rating

.reviews-rating {
  align-self: start;
  display: inline-flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 12px;
  margin-bottom: 20px;
  &[data-rating="1"] .reviews-rating__item:nth-child(n + 5),
  &[data-rating="2"] .reviews-rating__item:nth-child(n + 4),
  &[data-rating="3"] .reviews-rating__item:nth-child(n + 3),
  &[data-rating="4"] .reviews-rating__item:nth-child(n + 2),
  &[data-rating="5"] .reviews-rating__item:nth-child(n + 1) {
    color: gold;
  }
  .reviews-rating__item {}
}
