// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================

// about

.row-text-image {
  &__container {
    display: grid;
    align-items: center;
    @media (min-width: 769px) {
      align-items: center;
      grid-template-columns: 1fr 50rem;
    }
  }
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================

  &__information {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
  }
  &__information-title {
    font-size: 40px;
    margin-bottom: 20px;
  }
  &__information-text {
    font-size: 20px;
    margin-bottom: 20px;
  }
  &__information-link {
    background-color: brown;
    color: white;
    border-radius: 10px;
    padding: 10px;
    align-self: start;
  }
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
  &__media {}
  &__image {
    padding-bottom: 100%;
  }
}
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
