// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// socials
.socials {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
  a {
    transition: filter var(--transition-2);
    @media (any-hover: hover) {
      &:hover {
        filter: opacity(50%);
      }
    }
  }
}