<div class="js-spoiler">
  <button class="js-spoiler__button" data-toggle=".spoiler-content-1">Spoiler 5</button>
  <ul class="js-spoiler__content spoiler-content-1">
    <li class="spoiler__content-item"><a class="spoiler__content-link" href="#">Link 1</a></li>
    <li class="spoiler__content-item"><a class="spoiler__content-link" href="#">Link 2</a></li>
    <li class="spoiler__content-item"><a class="spoiler__content-link" href="#">Link 3</a></li>
    <li class="spoiler__content-item"><a class="spoiler__content-link" href="#">Link 4</a></li>
    <li class="spoiler__content-item"><a class="spoiler__content-link" href="#">Link 5</a></li>
  </ul>
</div>