<div class="section">
  <div class="section__container">

    <input id="transformSwitch1" class="transform-switch" type="radio" name="transformSwitch" checked>
    <input id="transformSwitch2" class="transform-switch" type="radio" name="transformSwitch">

    <div class="section__top">
      <h2 class="section__title">
        <strong>Plan your perfect trip</strong>
        <span>Search Flights & Places Hire to our most popular destinations</span>
      </h2>
      <a href="#" target="_blank" >See more places</a>
    </div>
    
    <div class="transform-navigation">
      <label for="transformSwitch1"></label>
      <label for="transformSwitch2"></label>
    </div>

    <div class="gradient-side"></div>

    <ul class="list-row-image-text">
      <li class="list-row-image-text__item">
        <a class="list-row-image-text__item-image responsive-1 hover-img" href="#">
          <img src="img/plan-1.jpg" loading="lazy" width="90" height="90" alt="image">
        </a>
        <div class="list-row-image-text__item-information">
          <p class="list-row-image-text__item-label">Istanbul, Turkey</p>
          <ul>
            <li>Flights</li>
            <li>Hotels</li>
            <li>Resorts</li>
          </ul>
        </div>
      </li>
      <li class="list-row-image-text__item">
        <a class="list-row-image-text__item-image responsive-1 hover-img" href="#">
          <img src="img/plan-2.jpg" loading="lazy" width="90" height="90" alt="image">
        </a>
        <div class="list-row-image-text__item-information">
          <p class="list-row-image-text__item-label">Sydney, Australia</p>
          <ul>
            <li>Flights</li>
            <li>Hotels</li>
            <li>Resorts</li>
          </ul>
        </div>
      </li>
      <li class="list-row-image-text__item">
        <a class="list-row-image-text__item-image responsive-1 hover-img" href="#">
          <img src="img/plan-3.jpg" loading="lazy" width="90" height="90" alt="image">
        </a>
        <div class="list-row-image-text__item-information">
          <p class="list-row-image-text__item-label">Baku, Azerbaijan</p>
          <ul>
            <li>Flights</li>
            <li>Hotels</li>
            <li>Resorts</li>
          </ul>
        </div>
      </li>
      <li class="list-row-image-text__item">
        <a class="list-row-image-text__item-image responsive-1 hover-img" href="#">
          <img src="img/plan-4.jpg" loading="lazy" width="90" height="90" alt="image">
        </a>
        <div class="list-row-image-text__item-information">
          <p class="list-row-image-text__item-label">Malé, Maldives</p>
          <ul>
            <li>Flights</li>
            <li>Hotels</li>
            <li>Resorts</li>
          </ul>
        </div>
      </li>
      <li class="list-row-image-text__item">
        <a class="list-row-image-text__item-image responsive-1 hover-img" href="#">
          <img src="img/plan-5.jpg" loading="lazy" width="90" height="90" alt="image">
        </a>
        <div class="list-row-image-text__item-information">
          <p class="list-row-image-text__item-label">Paris, France</p>
          <ul>
            <li>Flights</li>
            <li>Hotels</li>
            <li>Resorts</li>
          </ul>
        </div>
      </li>
      <li class="list-row-image-text__item">
        <a class="list-row-image-text__item-image responsive-1 hover-img" href="#">
          <img src="img/plan-6.jpg" loading="lazy" width="90" height="90" alt="image">
        </a>
        <div class="list-row-image-text__item-information">
          <p class="list-row-image-text__item-label">New York, US</p>
          <ul>
            <li>Flights</li>
            <li>Hotels</li>
            <li>Resorts</li>
          </ul>
        </div>
      </li>
      <li class="list-row-image-text__item">
        <a class="list-row-image-text__item-image responsive-1 hover-img" href="#">
          <img src="img/plan-7.jpg" loading="lazy" width="90" height="90" alt="image">
        </a>
        <div class="list-row-image-text__item-information">
          <p class="list-row-image-text__item-label">London, UK</p>
          <ul>
            <li>Flights</li>
            <li>Hotels</li>
            <li>Resorts</li>
          </ul>
        </div>
      </li>
      <li class="list-row-image-text__item">
        <a class="list-row-image-text__item-image responsive-1 hover-img" href="#">
          <img src="img/plan-8.jpg" loading="lazy" width="90" height="90" alt="image">
        </a>
        <div class="list-row-image-text__item-information">
          <p class="list-row-image-text__item-label">Tokyo, Japan</p>
          <ul>
            <li>Flights</li>
            <li>Hotels</li>
            <li>Resorts</li>
          </ul>
        </div>
      </li>
      <li class="list-row-image-text__item">
        <a class="list-row-image-text__item-image responsive-1 hover-img" href="#">
          <img src="img/plan-9.jpg" loading="lazy" width="90" height="90" alt="image">
        </a>
        <div class="list-row-image-text__item-information">
          <p class="list-row-image-text__item-label">Dubai, UAE</p>
          <ul>
            <li>Flights</li>
            <li>Hotels</li>
            <li>Resorts</li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>