<li class="navigation__item item-drop-down">
  <input id="sublistSwitch" type="checkbox">
  <label class="navigation__link button-drop-down" for="sublistSwitch">
    <span class="navigation__button-drop-down-text">Drop-down</span>
    <span class="button-drop-down-arrow"></span>
  </label>
  <ul class="sublist">
    <li class="sublist__item"><a class="sublist__link" href="#">SubLink 1</a></li>
    <li class="sublist__item"><a class="sublist__link" href="#">SubLink 2</a></li>
    <li class="sublist__item"><a class="sublist__link" href="#">SubLink 3</a></li>
  </ul>
</li>