// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// footer
.footer {
  background-color: var(--color-1);
  padding: 218px 0 6.4rem 0;
  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5rem;
    @media (max-width: 480px) {
      flex-wrap: wrap;
    }
  }
  &__column {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }
  &__logo {
    align-self: start;
  }
}
